<p id="notice"><%= notice %></p>

<h1>Listing Farm Slug Test Objects</h1>

<table>
  <thead>
    <tr>
      <th>Url slug</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_slug_test_objects.each do |farm_slug_test_object| %>
      <tr>
        <td><%= farm_slug_test_object.url_slug %></td>
        <td><%= farm_slug_test_object.caption %></td>
        <td><%= link_to 'Show', farm_slug_test_object %></td>
        <td><%= link_to 'Edit', edit_farm_slug_test_object_path(farm_slug_test_object) %></td>
        <td><%= link_to 'Destroy', farm_slug_test_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm slug test object', new_farm_slug_test_object_path %>
