<p id="notice"><%= notice %></p>

<p>
  <strong>Url slug:</strong>
  <%= @farm_slug_test_object.url_slug %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @farm_slug_test_object.caption %>
</p>

<%= link_to 'Edit', edit_farm_slug_test_object_path(@farm_slug_test_object) %> |
<%= link_to 'Back', farm_slug_test_objects_path %>
